.login {
    background-color: #F6F6F6;

    &_box-image {

        &-title {

            color: #5dcaf9;

            h1 {
                font-size: 50px;
                font-weight: 600;
            }

            p {
                margin: 0;
                font-size: 16px;

                a {
                    color: #3350e1;
                    text-decoration: none;
                }
            }
        }

        &-login {

            background-image: url(./images/login.gif);
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            opacity: 1;
            height: 683px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }

        &-loginBox {

            left: 0;
            top: 0;
            width: 100%;
          
            form{
                label{
                    display: none !important;
                    color: #1d00fb !important;
                    font-size: 16px !important;
                    font-weight: 600;
                    &::before{
                        color: #ff00f5 !important;
                    }
                }
                input{
                    width: 100%;
                    border: none;
                    border-radius: 5px;
                    overflow: hidden;
                    padding: 10px;
                    border-top: 2px solid #5dcaf9;
                    border-right: 2px solid #5dcaf9;
                    border-bottom: 2px solid #5dcaf9;
                    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
                    &:focus-visible{
                       outline: none;
                    }
                    &:hover{
                        outline: none !important;
                        border-top: 2px solid #5dcaf9;
                    border-right: 2px solid #5dcaf9;
                    border-bottom: 2px solid #5dcaf9;
                    }
                }
                button{
                    font-size: 30px;
                    width: 100%;
                    color: #5dcaf9;
                    background-color: rgba(255, 255, 255, 1);
                    border: 2px solid #5dcaf9;
                    font-weight: 600;
                    outline: none;
                    cursor: pointer;
                    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
                    transition: 0.4s;
                    border-radius: 5px;
                    &:hover{
                        background-color: #5dcaf9;
                        color: #ffff;
                    }
                   
                }
            }
        }
    }

    &_box-login {
        text-align: end;
    }
    .ant-input-group-addon{
        background: #fff !important;
        border: 2px solid #5dcaf9;
        color: #9e3bcf;
    }
}